@keyframes drive {
    0% {left: -12%; transform: translateY(100%)}
    30% {left: 112%; transform: translateY(100%)}
    50% {left: 112%; transform: translateY(0%)}
    80% {left: -12%; transform: translateY(0%)}
    100% {left: -12%; transform: translateY(100%)}
}

html, body {
    margin: 0;
    background-color: green;
}

.road {
    margin: 10% 0 0;
    padding: 0;
    display: grid;
    grid-template-rows: 2% 1fr 1fr 2%;
    grid-template-columns: repeat(20, 1fr);
    background-color: gray;
    width: 100vw;
    height: 20rem;
    position: relative;
}

.edge__line {
    background-color: white;
    grid-column: 1 / -1;
}

.lane__top {
    border-width: 0 0 .5rem 0;
    border-color: white;
    border-style: dashed;
    grid-column: 1 / -1;
}

.car {
    position: absolute;
    display: grid;
    width: 12rem;
    height: 9rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*animation-name: drive;*/
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /*right: -5%;*/
}

.windows {
    background-color: royalblue;
    border-color: firebrick;
    border-style: solid;
    border-width: 2px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

.body {
    background-color: firebrick;
    border-color: firebrick;
    border-style: solid;
    border-width: 4px;
    border-top-left-radius: 10%;
    border-top-right-radius: 30%;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.wheels {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    position: relative;
}
.wheels .wheel__left {
    background-color: black;
    border-radius: 50%;
    position: absolute;
}

.wheels .wheel__right {
    display: inline-block;
    width: 25%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 10%;
    top: -50%;
}

.wheels .wheel__left {
    display: inline-block;
    width: 25%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: -50%;
}